go 1.21.4

use (
	.
	./plugins/bestapi
	./plugins/bet365
	./plugins/combinedexhcnagerate
	./plugins/currencyconversionapi
	./plugins/currencyexchangeapi
	./plugins/exchangerateapi
	./plugins/goerli
	./plugins/livescore
	./plugins/mathapi
)
